﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>英雄聯盟分析網 </h1>
    <p class="lead">歡迎，你好!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">開始 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>英雄介紹</h2>
        <p>
            擁有上百種不同英雄，每個都有其獨特故事，快來尋找屬於自己的英雄
        </p>
        <p><a class="btn btn-default" href="../Hero/">進入&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>