﻿@model LOLAnalyze.Models.Heros

@{
    ViewBag.Title = "Details";
}


<div>
    <dl class="dl-horizontal" style="margin-top:10px">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blurb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blurb)
        </dd>
        <dd>
            #
        </dd>
        <dt>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </dt>

    </dl>
    <hr />
    <div align="center">
        <img src=@ViewBag.imgUrl />
    </div>
</div>

