﻿@model IEnumerable<LOLAnalyze.Models.Heros>

@{
    ViewBag.Title = "英雄資料";
}

<h2 align="center">列表</h2>

<p style="color:red;" aling="center">
    記得更新才能更動設定的語言和版本!
</p>
@using (Html.BeginForm("Sync", "Hero", FormMethod.Post))
{
<div align="center">
    <input type="submit" name="submit" value="更新" style="color:black;" />
</div>
}

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("凶狠排序", "Index", new { order = 1 })
            </li>
            <li>
                @Html.ActionLink("堅韌排序", "Index", new { order = 2 })
            </li>
            <li>
                @Html.ActionLink("法術排序", "Index", new { order = 3 })
            </li>
            <li>
                @Html.ActionLink("操作難度排序", "Index", new { order = 4 })
            </li>
        </ul>

    </div>
    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src=@ViewBag.ImgUrl[item.Id] alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    | @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
        <p align="center">
            @ViewBag.Message
        </p>
    </table>
