﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡人", "Contact", "Home")</li>

                </ul>
                @using (Html.BeginForm("set", "Home", FormMethod.Post))
                {
                    <ul class="nav navbar-nav">
                        @if (TempData["lang"] == null ||TempData["lang"].Equals(""))
                        {
                            <li><p style="color:white;">語言: </p>@Html.DropDownList("lang", (IEnumerable<SelectListItem>)ViewBag.langs)</li>
                            <li><p style="color:white;">版本 : </p>@Html.DropDownList("version", (IEnumerable<SelectListItem>)ViewBag.versions)</li>
                            <li><input type="submit" value="設定" /></li>
                        }

                    </ul>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (TempData["lang"].Equals(""))
        {
            <h3>請先設定語言和版本</h3>
        }
        else
        {

        TempData["lang"] = TempData["lang"];
        TempData["version"] = TempData["version"];
        TempData["remote"] = TempData["remote"];
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
